a:link{text-decoration: none;color: #000000;padding-top:-4px;}
a:visited{text-decoration: none;color: #000000;}
.add{background: url(../images/icon/add.png) no-repeat 0 0px;}
.delete{background: url(../images/icon/delete.png) no-repeat 0 0px;}
.decline{background: url(../images/icon/decline.png) no-repeat 0 0px;}
.tick{background: url(../images/icon/tick.png) no-repeat 0 0px;}
.cross{background: url(../images/icon/cross.png) no-repeat 0 0px;}
.cancel{background: url(../images/icon/cancel.png) no-repeat 0 0px;}
.accept{background: url(../images/icon/accept.png) no-repeat 0 0px;}
.edit{background: url(../images/icon/edit.png) no-repeat 0 0px;}
.delete{background: url(../images/icon/delete.png) no-repeat 0 0px;}
.user{background: url(../images/icon/user.png) no-repeat 0 0px;}
.cart_edit{background: url(../images/icon/cart_edit.png) no-repeat 0 0px;}
.cart{background: url(../images/icon/cart.png) no-repeat 0 0px;}
.save{background: url(../images/icon/system_save.gif) no-repeat 0 0px;}
.accept{background: url(../images/icon/accept.png) no-repeat 0 0px;}
.key{background: url(../images/icon/key.png) no-repeat 0 0px;}
.group{background: url(../images/icon/group.png) no-repeat 0 0px;}
.page{background: url(../images/icon/page.png) no-repeat 0 0px;}
.book_open{background: url(../images/icon/book_open.png) no-repeat 0 0px;}
.system_new{background: url(../images/icon/system_new.gif) no-repeat 0 0px;}
.system_search{background: url(../images/icon/system_search.gif) no-repeat 0 0px;}
.world{background: url(../images/icon/world.png) no-repeat 0 0px;}
.date_go{background: url(../images/icon/date_go.png) no-repeat 0 0px;}
.bricks{background: url(../images/icon/bricks.png) no-repeat 0 0px;}
.clock_red{background: url(../images/icon/clock_red.png) no-repeat 0 0px;}
.package_white{background: url(../images/icon/package_white.png) no-repeat 0 0px;}
.shield_rainbow{background: url(../images/icon/shield_rainbow.png) no-repeat 0 0px;}
.house{background: url(../images/icon/house.png) no-repeat 0 0px;width: 16px;height: 16px;}
.x-panel-default-framed{border: 0px;}
.page_loading {
    padding:5px 10px 5px 25px;border:1px;
     background: #fbfbfb url( '../images/loading.gif' ) no-repeat 5px 5px;
     line-height: 120px;
}
.x-mask-msg {z-index:9999;}
