<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <!-- 初始化bean上下文帮助类 -->
    <bean class="com.graduation.core.base.util.SpringContextUtil" />

    <!-- 注册了AutowiredAnnotationBeanPostProcessor和CommonAnnotationBeanPostProcessor <context:annotation-config/>可以不写 -->
    <context:component-scan base-package="com.graduation.**.controller, com.graduation.**.service, com.graduation.core.**.dao" />
</beans>