<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

   <!-- &lt;!&ndash; 初始化读取系统参数bean &ndash;&gt;
    <bean id="systemLoader" class="SystemLoader" lazy-init="false" />-->
</beans>