<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:mvc="http://www.springframework.org/schema/mvc"
      xmlns:context="http://www.springframework.org/schema/context"
      xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
      default-lazy-init="true">

   <context:component-scan base-package="com.graduation.authentication.controller, com.graduation.authentication.service" />

   <!-- 校验注解 -->
   <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
   <mvc:annotation-driven validator="validator" />

   <!-- 请求响应拦截器 -->
   <!--<mvc:interceptors>
      &lt;!&ndash; 拦截器执行控制器拦截，用于cookie身份和权限验证 &ndash;&gt;
      <mvc:interceptor>
         <mvc:mapping path="/**" />
         <mvc:exclude-mapping path="/"/>
         <mvc:exclude-mapping path="/login"/>
         <mvc:exclude-mapping path="/logout"/>
         <mvc:exclude-mapping path="/error"/>
         <mvc:exclude-mapping path="/top"/>
         <mvc:exclude-mapping path="/bottom"/>
         <mvc:exclude-mapping path="/templates/**"/>
         <mvc:exclude-mapping path="/plugins/**"/>
         <mvc:exclude-mapping path="/scripts/**"/>
         <mvc:exclude-mapping path="/css/**"/>
         <mvc:exclude-mapping path="/images/**"/>

         <bean class="com.graduation.authentication.utils.AuthenticationInterceptor" />
      </mvc:interceptor>
   </mvc:interceptors>-->

</beans>